* {
	font-size: 20px;
}

.App {
  text-align: center;
}

.recursion, .line-algo {
	border: 1px solid #000;
	border-radius: 5px;
	margin: 30px;
	padding: 30px;
}

.recursion input {
	text-indent: 15px;
	min-width: 300px;
	min-height: 50px;
	border: 1px solid #000;
	border-radius: 5px;
}

.line-algo input {
	text-indent: 15px;
	min-width: 50px;
	min-height: 50px;
	margin: 10px;
	border: 1px solid #000;
	border-radius: 5px;
}

.line-algo table {
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 20px auto;
}

.line-algo table td {
	width: 30px;
	height: 30px;
	border: 1px solid #000
}

.line-algo table td.blue {
	background-color: blue;
}
